* {
    box-sizing: border-box;
    font-family: Roboto;
}

.app {
    background: #EBEBEB;
    border-radius: 3px;
    box-sizing: content-box;
    margin: 20px;
}

.Links {
    display: inline-block;
    width: 50%;
    border-right: 4px solid #FFF;
    box-sizing: border-box;
}

.Form {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
}

.main-title {
    text-align: center;
}