* {
    box-sizing: border-box;
    font-family: Roboto;
}

.app {
    background: #EBEBEB;
    border-radius: 3px;
    box-sizing: content-box;
    margin: 20px;
}

.Links {
    display: inline-block;
    width: 50%;
    border-right: 4px solid #FFF;
    box-sizing: border-box;
}

.Form {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
}

.main-title {
    text-align: center;
}

.icon-add {
    visibility: hidden;
    cursor: pointer;
    text-align: right;
    position: sticky;
    bottom: 0;
    margin-top: 0;
}

@media screen and (max-width: 500px) {
    .app {
        display: flex;
        flex-wrap: wrap;
    }

    .app > div {
        width:100%;
    }

    .Links {
        border-right:none;
    }
    .Form {
        width: 100%;
    }

    .DesktopForm {
        display: none;
    }

    .icon-add {
        visibility: visible;
    }
}