.Form {
    width: 100%;
}

.Form__Row {
    width: 100%;
    margin: 10px auto;
}

.Btn {
    margin-top: 20px;
    height: 40px;
    border: 0;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    width: 200px;
}

.Btn__Save {
    background-color: #EF5350;
}

.Input {
    padding: 10px;
    border: 0;
    background-color: #EBEBEB;
    border-bottom: 2px solid red;
    outline: none;
    width: 200px;
}

.Input:focus {
    border-bottom: 2px solid purple;
}

.Form__Select {
    height: 40px;
    width: 200px;
}