.Form {
    width: 100%;
}

.Form__Row {
    width: 100%;
    margin: 10px auto;
}

.Btn {
    height: 30px;
    min-width: 90px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

.Btn__Save {
    background-color: #c5c5c5;
}

.Input {
    padding: 10px;
}

.Form__Select {
    height: 40px;
    width: 187px;
}