.topics {
    margin: 10px 12px;
    padding: 0;
    list-style: none;
}

.topic {
    background: #ffffff;
    border-radius: 5px;
    margin: 10px auto;
    width: 80%;
    box-shadow: 0 2px 11px 0 rgba(0,0,0,.1);
}

.topic__title {
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.topic__links {
    margin: 0;
    padding: 0 0 10px 0;
    list-style: none;
}

.topic__footer {
    text-align: right;
    font-weight: bold;
    padding: 0 10px 6px;
    margin: 0;
    padding-bottom: 11px;
}

.footer__number {
    color: white;
    background: red;
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
    width: 21px;
    text-align: center;
    height: 22px;
}

.topic__links li {
    margin: 4px 12px;
    padding: 1.5px 3px;
}

.topic__links li a:hover,
.topic__links li a:active {
    color: black;
}

.deleteIcon {
    cursor: pointer;
    float: right;
    margin-left: 10px;
}
.editIcon {
    cursor: pointer;
    float: right;
}