.app {
    background: #f5f5f5;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 10px;
    box-sizing: content-box;
}

.Links {
    display: inline-block;
    width: 50%;
    border-right: 1px solid black;
    box-sizing: border-box;
}

.Form {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
}